<template >
  <div class="d-flex justify-content-center">
    <h1>Fiche d'information de la matiere</h1>
    <button class="btn" style="height: 50px; width: 50px" @click="edit = !edit"> <img style="" src="src/assets/pencil-solid.svg"></button>
    <button class="btn" style="height: 45px; width: 45px" @click="deleteCourse()"> <img style="" src="src/assets/trash-solid.svg"> </button>
  </div>
  <div class="d-flex justify-content-center">
    <div v-if="course != null" class="w-50 justify-content-center p-3">
      <div v-if="!edit">
        <div>
          <p>Nom du professeur:</p>
          <p class="form-control">{{course.trainer.lastname}}</p>
        </div>
        <div>
          <p>Prénom du professeur :</p>
          <p class="form-control">{{course.trainer.firstName}}</p>
        </div>
        <div>
          <p>Mail du professeur :</p>
          <p class="form-control">{{course.trainer.mail}}</p>
        </div>
        <div>
          <p>Nom de la matiere :</p>
          <p class="form-control">{{course.name}}</p>
        </div>
      </div>
      <div v-if="edit">
        <div>
          <p>Nom du professeur:</p>
          <input class="form-control mb-3" v-model="course.trainer.lastname">
        </div>
        <div>
          <p>Prénom du professeur :</p>
          <input class="form-control mb-3" v-model="course.trainer.firstName">
        </div>
        <div>
          <p>Mail du professeur :</p>
          <input class="form-control mb-3" v-model="course.trainer.mail">
        </div>
        <div>
          <p>Nom de la matiere :</p>
          <input class="form-control mb-3" v-model="course.name">
        </div>


      </div>

      <div v-if="edit" class="d-flex justify-content-end mt-2">
        <button class="btn btn-warning" @click="updateCourse()">Sauvegarder</button>

      </div>

    </div>
  </div>

  <div>


  </div>




</template>

<script>
import {useRoute, useRouter} from "vue-router";
import {CourseService} from "../service/courseService.ts";

export default {
  name: "studentInformation",
  components: {},

  data(){
    return {
      route: useRoute(),
      router: useRouter(),
      course: null,
      edit: false
    }
  },
  mounted() {
    this.loadCourse()

  },
  methods: {
    loadCourse(){
      console.log(this.route.params.id)
      CourseService.instance.getOneCourse(this.route.params.id).then((result)=>{
        console.warn(result)
        this.course = result.data
        console.log(result.data)
      })
    },
    updateCourse(){
      CourseService.instance.updateCourse(this.course).then((result)=>{
        console.log(result)
      })
    },
    deleteCourse(){
      CourseService.instance.deleteCourse(this.course._id).then(()=>{
        this.router.back()
      })
    }
  }
}
</script>

<style scoped>
.evaluationGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

</style>