<template>
  <h1>Hello</h1>
  <b-button @click="modalVisible = true"> Crée une nouvelle matière</b-button>
  <p>Nombre de cours : {{ this.coursesStats.count }}</p>
  <b-modal v-model="modalVisible">
    <div style="">
      <CreateCourse></CreateCourse>
    </div>


  </b-modal>

  <div class="p-2 d-flex">
    <!-- request list -->
    <div style="height: 80vh; width: 40%" class="form-control overflow-auto studentContainer">
      <div v-for="course in courses" @click="goToSelectedCourse(course._id)" class="shadow my-3 studentList">
        <div class="studentGrid">
          <p>nom</p>
          <p>Nombre d'étudiant</p>
          <p>nom du professeur</p>
        </div>
        <div class="studentGrid">
          <p>{{course.name}}</p>
          <p>{{course.students.length}}</p>
          <p>{{course.trainer.lastname}}</p>
        </div>
      </div>
    </div>

    <!-- filter list -->
    <div class="d-flex flex-column align-items-center w-50">
      <h2>Filtrer les matieres :</h2>
      <div>
        <p>Par nom de matiere: </p>
        <input type="text" class="form-control" v-model="lastnameFilter">
      </div>
      <div>
        <p>Par nom de professeur: </p>
        <input type="text" class="form-control" v-model="firstnameFilter">
      </div>
      <div class="w-100 d-flex justify-content-center">
        <button class="btn btn-success m-3" @click="">Filtrer </button>
        <button class="btn btn-info m-3" @click="">Reset</button>
      </div>
    </div>

  </div>



</template>

<script>
import { StudentsService} from "../service/students.service";

import {BModal} from "bootstrap-vue-3";
import createStudent from "./createStudent.vue";
import { useRouter} from "vue-router";
import {OperatorEnum} from "../enum/operator.enum.ts";
import {CourseService} from "../service/courseService.ts";
import CreateCourse from "./createCourses.vue";




export default {
  name: "courses",
  components: {CreateCourse, BModal },
  data(){
    return {
      route: useRouter(),
      courses: [],
      coursesStats: {},
      modalVisible : false,
      selectedStudent: null,
      firstnameFilter: null,
      lastnameFilter: null,
      mailFilter: null,
      noteFilter: null,
      filters: []

    }
  },
  mounted() {
    CourseService.instance.getCourse().then((result)=>{
      this.courses = result.data
    })

    CourseService.instance.getCourseStats().then((result)=>{
      console.log(result.data)
      this.coursesStats = result.data
    })
  },
  methods:{
    goToSelectedCourse(courseId){
      this.route.push( this.route.currentRoute.path + 'courses'+ '/'+ courseId )
    },
    /*
    resetFilter(){
      this.mailFilter = null
      this.lastnameFilter = null
      this.firstnameFilter = null
      StudentsService.instance.getStudent().then((result)=>{
        this.students = result.data
      })
    },
    requestWithFilter(){
      if(this.mailFilter != "" && this.mailFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "mail", value : {"$regex" : ".*"+ this.mailFilter+ ".*", "$options" : "i"}})
      }
      if(this.lastnameFilter != "" && this.lastnameFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "lastname", value : {"$regex" : ".*"+ this.lastnameFilter+ ".*", "$options" : "i"}})
      }
      if(this.firstnameFilter != "" && this.firstnameFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "firstname", value : {"$regex" : ".*"+ this.firstnameFilter+ ".*", "$options" : "i"}})
      }
      console.warn(this.filters)

      StudentsService.instance.getStudentWithFilters({filters: this.filters}).then((result)=>{
        console.log(result.data)
        this.students = result.data
      })
    }

     */

  }
}
</script>

<style scoped>

.studentGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 5px 5px 15px;
}

.studentContainer{
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.98);
}


.studentList{
  border: 2px solid #c0bfbf;
  border-radius: 5px;
  cursor: pointer;
}


</style>
