
<template>
  <div class="d-flex flex-column align-items-center">


  <h2>Mon nouvelle étudiant</h2>
  <form >
    <div>
      <p class="m-0"> Nom :</p>
      <input v-model="lastname">
    </div>
    <div class="mt-2">
      <p class="m-0"> Prénom :</p>
      <input v-model="firstname">
    </div>
    <div class="mt-2">
      <p class="m-0">Mail :</p>
      <input v-model="mail">

    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success m-3" :disabled="sending" v-on:click="click">Crée l'étudiant</button>
      <b-spinner v-if="sending" label="Spinning"></b-spinner>
    </div>



  </form>
  </div>

</template>

<script>
import axios from "axios";
import {StudentsService} from "../service/students.service";


export default {
  name: "createStudent",
  data(){
    return {
      lastname: null,
      firstname: null,
      mail: null,
      sending: false
    }
  },
  methods:{
    async sendData(){
      this.sending = true
      const credential = { lastname : this.lastname, firstname: this.firstname, mail: this.mail, evaluation: []}
      await StudentsService.instance.createStudent(credential).then((response)=>{
        console.log(response.data)
        this.sending = false
      })
    },
    click(event) {
      this.sendData()
      event.preventDefault()
    }

  }

}
</script>




<style scoped>


</style>