
<template>
  <h2>Ma nouvelle matiere</h2>
  <form>
    <div>
      <p class="m-0"> nom de la matière :</p>
      <input type="text" class="form-control" v-model="course.name">
    </div>
    <div class="mt-2">
      <p class="m-0"> Prénom du professeur :</p>
      <input type="text" class="form-control" v-model="course.firstname">
    </div>
    <div class="mt-2">
      <p class="m-0">Nom du professeur :</p>
      <input type="text" class="form-control" v-model="course.lastname">
    </div>
    <div class="mt-2">
      <p class="m-0">Mail du professeur :</p>
      <input type="email" class="form-control" v-model="course.mail">
    </div>

    <div class="d-flex justify-content-center">
      <button class="mt-2 btn btn-success" :disabled="sending" v-on:click="click">envoyer</button>
      <b-spinner v-if="sending" label="Spinning"></b-spinner>
    </div>

  </form>

</template>

<script>
import {CourseService} from "../service/courseService.ts";


export default {
  name: "createCourse",
  data(){
    return {
      course : { name: null,firstname: null, lastname: null, mail:null, students: [] },
      sending: false
    }
  },
  methods:{
    async sendData(){
      this.sending = true

      await CourseService.instance.createCourse(this.course).then((response)=>{
        console.log(response.data)
        this.sending = false
      })
    },
    click(event) {
      this.sendData()
      event.preventDefault()
    }

  }

}
</script>




<style scoped>


</style>
