<template class="" >
  <div class="d-flex align-items-center justify-content-center headerStyle shadow">
    <h1>My Fabulous App </h1>
    <div>
      <button class="btn "><router-link to="/students" class="mx-4">Student</router-link></button>
      <button class="btn"> <router-link to="/">Courses</router-link></button>
    </div>


  </div>



</template>

<script>
import Courses from "./courses.vue";

export default {
  name: "header",
  components: {Courses}
}
</script>

<style scoped>
a{
  text-decoration: none !important;
  color: black !important;
}

.headerStyle{
  background-color: #f59999;
}
button{
  transition: all 0.5s;

}
button:hover{
transform: scale(1.50);
}

</style>