<template >
  <div class="d-flex justify-content-center">
    <h1>Fiche d'information</h1>
    <button class="btn" style="height: 50px; width: 50px" @click="edit = !edit"> <img style="" src="src/assets/pencil-solid.svg"></button>
    <button class="btn" style="height: 45px; width: 45px" @click="deleteStudent()"> <img style="" src="src/assets/trash-solid.svg"> </button>
  </div>
  <div class="d-flex justify-content-center">
    <div v-if="student != null" class="w-50 justify-content-center p-3">
      <div v-if="!edit">
        <div>
          <p>Nom :</p>
          <p class="form-control">{{student.lastname}}</p>
        </div>
        <div>
          <p>Prénom :</p>
          <p class="form-control">{{student.firstname}}</p>
        </div>
        <div>
          <p>Mail :</p>
          <p class="form-control">{{student.mail}}</p>
        </div>
      </div>
      <div v-if="edit">
        <div>
          <p>Nom :</p>
          <input class="form-control mb-3" v-model="student.lastname">
        </div>
        <div>
          <p>Prénom :</p>
          <input class="form-control mb-3" v-model="student.firstname">
        </div>
        <div>
          <p>Mail :</p>
          <input class="form-control mb-3" v-model="student.mail">
        </div>

      </div>

      <div>
        <p>Liste des évaluations</p>
        <div class="form-control">
          <div class="evaluationGrid">
            <p>matiere: </p>
            <p>nom de l'évaluation</p>
            <p>note</p>
          </div>
          <div class="evaluationGrid" v-for=" evaluation in student.evaluation">
            <p>{{evaluation.courseName}} </p>
            <p>{{evaluation.evaluationName}}</p>
            <p>{{evaluation.note}}</p>
          </div>
        </div>
      </div>
      <div v-if="edit" class="d-flex justify-content-end mt-2">
        <button class="btn btn-warning" @click="updateStudent()">Sauvegarder</button>

      </div>

    </div>
  </div>

  <div>


  </div>




</template>

<script>
import {StudentsService} from "../service/students.service.ts";
import {useRoute, useRouter} from "vue-router";
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

export default {
  name: "studentInformation",
  components: {},

  data(){
    return {
      route: useRoute(),
      router: useRouter(),
      student: null,
      edit: false

    }
  },
  props: {
    studentId: null
  },
  mounted() {
    this.loadStudent()

  },
  methods: {
    loadStudent(){
      StudentsService.instance.getOneStudent(this.route.params.id).then((result)=>{
        this.student = result.data
        console.log(result.data)
      })
    },
    updateStudent(){
      StudentsService.instance.updateStudent(this.student).then((result)=>{
        console.log(result)
      })
    },
    deleteStudent(){
      StudentsService.instance.deleteStudent(this.student._id).then(()=>{
        this.router.back()
      })
    }
  }
}
</script>

<style scoped>
.evaluationGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

</style>