<template>
<h1>Hello</h1>
<b-button @click="modalVisible = true"> Crée un nouvelle étudiant</b-button>
  <p>Nombre d'élèves : {{ this.studentsStats.count }} | Moyenne des élèves : {{ this.studentsStats.moyenne?.reduce((total, next) => total + next.moyenne, 0) / this.studentsStats.count }}</p>
  <b-modal v-model="modalVisible">
    <div style="">
      <createStudent></createStudent>
    </div>


  </b-modal>

<div class="p-2 d-flex">
  <!-- request list -->
  <div style="height: 80vh; width: 40%" class="form-control overflow-auto studentContainer">
    <div v-for="student in students" @click="goToSelectedStudent(student._id)" class="shadow my-3 studentList">
      <div class="studentGrid">
        <p>nom</p>
        <p>prenom</p>
        <p>mail</p>
      </div>
      <div class="studentGrid">
        <p>{{student.lastname}}</p>
        <p>{{student.firstname}}</p>
        <p>{{student.mail}}</p>

      </div>
    </div>
  </div>

  <!-- filter list -->
  <div class="d-flex flex-column align-items-center w-50">
    <h2>Filtrer les etudiants :</h2>
    <div>
      <p>Par nom: </p>
      <input type="text" class="form-control" v-model="lastnameFilter">
    </div>
    <div>
      <p>Par prénom: </p>
      <input type="text" class="form-control" v-model="firstnameFilter">
    </div>
    <div>
      <p>Par mail: </p>
      <input type="email" class="form-control" v-model="mailFilter">
    </div>
    <div class="w-100 d-flex justify-content-center">
      <button class="btn btn-success m-3" @click="requestWithFilter()">Filtrer</button>
      <button class="btn btn-info m-3" @click="resetFilter()">Reset</button>
    </div>
  </div>

</div>



</template>

<script>
import { StudentsService} from "../service/students.service";

import {BModal} from "bootstrap-vue-3";
import createStudent from "./createStudent.vue";
import { useRouter} from "vue-router";
import {OperatorEnum} from "../enum/operator.enum.ts";




export default {
  name: "student",
  components: {BModal, createStudent },
  data(){
    return {
      route: useRouter(),
      students: [],
      studentsStats: {},
      modalVisible : false,
      selectedStudent: null,
      firstnameFilter: null,
      lastnameFilter: null,
      mailFilter: null,
      noteFilter: null,
      filters: []

    }
  },
  mounted() {
    StudentsService.instance.getStudent().then((result)=>{
      this.students = result.data
    })

    StudentsService.instance.getStudentStats().then((result)=>{
      console.log(result.data)
      this.studentsStats = result.data
    })
  },
  methods:{
    goToSelectedStudent(studentId){
     this.route.push( this.route.currentRoute.path + '/'+ studentId )
    },
    resetFilter(){
      this.mailFilter = null
      this.lastnameFilter = null
      this.firstnameFilter = null
      StudentsService.instance.getStudent().then((result)=>{
        this.students = result.data
      })
    },
    requestWithFilter(){
      if(this.mailFilter != "" && this.mailFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "mail", value : {"$regex" : ".*"+ this.mailFilter+ ".*", "$options" : "i"}})
      }
      if(this.lastnameFilter != "" && this.lastnameFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "lastname", value : {"$regex" : ".*"+ this.lastnameFilter+ ".*", "$options" : "i"}})
      }
      if(this.firstnameFilter != "" && this.firstnameFilter != null){
        this.filters.push({ operator: OperatorEnum.EQUAL, column: "firstname", value : {"$regex" : ".*"+ this.firstnameFilter+ ".*", "$options" : "i"}})
      }
      console.warn(this.filters)

      StudentsService.instance.getStudentWithFilters({filters: this.filters}).then((result)=>{
        console.log(result.data)
        this.students = result.data
      })
    }

  }
}
</script>

<style scoped>

.studentGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 5px 5px 15px;
}

.studentContainer{
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(252, 252, 252, 0.98);
}


.studentList{
  border: 2px solid #c0bfbf;
  border-radius: 5px;
  cursor: pointer;
}


</style>
