<script setup lang="ts">
import CreateStudent from "./components/createStudent.vue";
import Header from "./components/header.vue";

const routes = {

}


</script>

<template>
  <Header  />
  <router-view></router-view>
</template>

<style scoped>
Header{
  height: 60px;
}
</style>
